.headerIn{
  height: 215px;
  transition: height .4s;
  @include cover;
  color: white;
  text-align: center;
  padding: 57px  ;
  h1{
    font-size: 18px;
    width: 100%;
    font-weight: 300;
    margin-bottom: 24px;
    letter-spacing: 1px;
  }
  h2{
    font-size: 22px;
    width: 100%;
    font-weight: 500;
    line-height: 30px;
  }
   @media (min-width:768px){
    height: 400px;
    padding: 147px  ;
    h1{
      font-size: 20px;
    }
    h2{
      font-size: 30px;
    }
   }
    @media (min-width:992px){
      height: 600px;
      padding: 120px 147px 0 ;
      h1{
        font-size: 22px;
         margin-bottom: 34px;
      }
      h2{
         font-size: 40px;
      }
    }
     @media (min-width:1440px){
      height: 800px;
        padding: 214px 147px 0 ;
      h1{
        font-size: 24px;
      }
      h2{
        font-size: 50px;
      }
     }
}
.description{
  background: $blueBg;
  color: white;
  width: 100%;
    padding-bottom: 76px;
    transition: margin .4s;
  @include flexFlow;
  article{
    width: 100%;
    padding: 65px 22px 0 ;
     @include flexFlow;
    h3{
      font-size: 20px;
      margin-bottom: 35px;
      font-weight: 500; 
      width: 100%;
       @media (min-width:1440px){
        font-size: 28px;
        margin-bottom: 60px;
       }
    }
    aside{
      display: block;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      width: 100%;
    }
    aside.large{
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 35px;
           font-weight: 200;
    }
    ul {
            list-style: none;
            // margin-bottom: 50px;
            width: 100%;
            max-width: 678px;
             @media (min-width:768px){
              width: 50%;
             }
        }

        li { 
            padding-left: 1em; 
            text-indent: -.7em;
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 27px;
           
            @media (min-width:768px){
              // margin-bottom: 5px;
              font-size: 12px;
              line-height: 19px;
            }
            @media (min-width:992px){
                         font-size: 14px;
                         line-height: 22px;
                         // height: 45px;
              }
               @media (min-width:1440px){
                 font-size: 16px;
                 line-height: 35px;
                 font-weight: 300;
                    margin-bottom: 15px;
                 a{
                  font-weight: 200;
                 }
               }
        }

        li:before {
            content: "✓  ";
            color: $orange1; /* or whatever color you prefer */
        }
        li:after {
          margin-left: 9px;
        }
         @media (min-width:768px){
           width: 50%;
            padding: 65px 22px 0 0 ;
             aside{
              width: 50%;
              padding-right: 18px;
              font-size: 13px;
              line-height: 18px;
             }
              aside.large{
                  font-size: 14px;
                  line-height: 23px;
              }
         } 
         @media (min-width:1440px){
          padding: 86px 36px 0 0 ;
           aside{
              width: 50%;
              padding-right: 24px;
              font-size: 16px;
              line-height: 29px;
             }
              aside.large{
                  font-size: 22px;
                  line-height: 34px;
              }
         }
  }
   @media (min-width:768px){
       padding: 0 36px 46px;

   }
  @media (min-width:992px){
    width: 95%;
    margin: -280px auto 0; 
    padding: 0 36px 46px;
  }
   @media (min-width:1440px){
     padding: 0 72px 86px;
   }
}










/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 90px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
     @media (min-width:768px){
       height: 60px;
     }
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid $orange1;
  padding: 0 18px;
   @media (min-width:768px){
     border:0;
  }
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  color: black;
  height: auto;
  width: 100%;
  line-height: 30px;
  padding-left: 18px;
/*  padding-left: 14px;*/
}
.cd-tab-filter a.selected {
  background: $grayLight;
  color: $blueTitle;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
    border-right: 1px solid rgba($blueTitle, .3);
  }
  .cd-tab-filter li:last-child {
    border: none;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1rem;
    width: auto;
    color: $blueTitle;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    @media (min-width: 1200px){
      font-size: 16px;
      padding: 0 1.8rem;
    }
  }
  .no-touch .cd-tab-filter a:hover {
    color: $orange1;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: $orange1;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 $orange1;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
  padding: 0;
  width: 100%;
}
.cd-gallery ul{
  margin: 0;
  padding: 0;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
  background: salmon;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
   /* padding: 40px 3%;*/
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
/*  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }*/
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
   /* width: 23%;*/
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}



.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
    background-color: #585858;
}
.simplefilter li.active {
    background-color: #212121;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}

